# Set up local DB connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/expense_db?schema=public"
PORT=3000

# Groq API
GROQ_API_KEY=""
GROQ_MODEL="llama-3.1-8b-instant"

# Frontend Configuration
FRONTEND_URL="http://localhost:5173"
